/*
 * Copyright (c) 2018 Bob Kerns.
 */

console.log(`${module.filename} loaded.`);

// Load support for our databases.
require("./dbs/neo4j/neo4j-connector");
require("./dbs/mock/mockdb");
const path = require('path');

const ROOT = path.dirname(__dirname);

module.exports = {
    favicon: path.join(ROOT, 'static/app/pumpkin.ico'),
    paths: {
        brain: path.join(ROOT, 'brain'),
        static: path.join(ROOT, 'static'),
    },
    dbConfigs: {
        default: {
            database: 'neo4j',
            url: 'bolt://localhost:7687',
            user: 'neo4j',
            password: 'admin'
        }
    }
};
