/*
 * Copyright (c) 2018 Bob Kerns.
 */

console.log(`${module.filename} loaded.`);

// Load support for our databases.
require("./dbs/neo4j/neo4j-connector");
require("./dbs/mock/mockdb");

module.exports = {
    dbConfigs: {
        default: {
            database: 'neo4j',
            url: 'bolt://localhost:7687',
            user: 'neo4j',
            password: 'admin'
        }
    }
};
